@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(130deg,#ECA65F, #F9857C, #D6685C);
    }
    section#login {
        width: 80vw;
        height: 260px;
    }

    section#login > div#imagem {
    float: left;
    width: 30%;
    height: 100%;
    background-size: 200%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
    div#formulario > p {
        margin: 10px 0px;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(130deg,#ECA65F, #F9857C, #D6685C);
    }  
    section#login {
        width: 990px;
        height: 300px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        background-size: 155%; 
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }
    div#formulario > p {
        margin: 20px 0px;
    }
}
