 @charset "UFT-8";
 @import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
    @import url('verdana-font-family/verdana-bold-italic.ttf');
    @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

    :root {
        --font0: Arial, Helvetica, sans-serif;
        --font1: 'Passion One', cursive; 
        --font2: 'Verdana';
        --font3: 'Sriracha', cursive;
    }
    * {
        font-family: Arial, Helvetica, sans-serif;
        padding: 0px;
        margin: 0px;
    }
    html, body {
        min-height: 100vh;
        background-color: gray;
    }
    header {
        background-color: black;
        color: white;
        text-align: center;
        padding-bottom: 40px;
    }
    header h1 {
        padding-top: 50px;
        font-family: var(--font1);
        font-size: 10vw;
        font-weight: bolder;
        font-variant: small-caps;
    }
    
    header > p, strong {
        font-family: var(--font2);
        font-size: 1em;
    }
    header > p > strong > a {
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }
    header > p > strong > a:hover {
       text-decoration: underline; 
    }
    seletion {
        padding-top: 10vh;
        padding-bottom: 10vh;
        line-height: 2em;
    }
    .normal p {
        background-color:white;
        color:black;
        font-family: var(--font3);
        padding: 30px;
        font-size: 3.5vw;
    } 
    section.imagem01 {
       position: relative; 
       background-color: white;
       background-image: url('../imagens/background001.jpg'); 
       padding: 30px;
       background-repeat: no-repeat;
       background-position: right center;
       background-size: cover;
       background-attachment: fixed;
       
    }
    section.imagem01 p {
        display: inline-block;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.546);
        color: white;
        font-family: var(--font3);

    }
    section.imagem2 {
        background-color: black;
    }
    footer {
        background-color: black;
        color:white;
        text-align: center;
        padding: 10px
    }
    footer > a {
        color:white;
    }
